.btn-amdigital {
    color: #fff;
    background-color: #0BA360;
    border-color: #fff;
}

.btn-amdigital:hover,
.btn-amdigital:focus,
.btn-amdigital.focus,
.btn-amdigital:active,
.btn-amdigital.active,
.open>.dropdown-toggle.btn-amdigital {
    color: #fff;
    background-color: #087747;
    border-color: #fff;
}

.btn-amdigital-a {
    color: #fff;
    background-color: #2F4050;
    border-color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
}

.btn-amdigital-a:hover,
.btn-amdigital-a:focus,
.btn-amdigital-a.focus,
.btn-amdigital-a:active,
.btn-amdigital-a.active,
.open>.dropdown-toggle.btn-amdigital-a {
    color: #fff;
    background-color: #25323F;
    border-color: #fff;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 0rem .4rem;
    font-size: .77rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-table {
    border-radius: 10%;
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
}